<ion-view view-title="{{title}}">
  <ion-nav-bar class="bar-energized nav-title-slide-ios7">
    <ion-nav-buttons side="left">
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content scroll="true" has-header="true" has-bouncing="false" class="pannel home-page">
    <div class="icons-feilei">
      <div class="row" ng-repeat="rowMenus in menus">
        <div class="col" ng-repeat="item in rowMenus">
          <a ng-click="goToPage(item.url)" ng-if="item.role">
            <div class="card" style="width: 80px;height: 80px;">
              <div class="item item-text-wrap" style="text-align: center;font-weight: bold;">
                {{item.title}}
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
