<ion-view view-title="{{title}}">
  <ion-nav-bar class="bar-energized nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button rectangle-round-left" ng-click="goBack()">
        <div class="navi-back">
        </div>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="true">
    <div style="min-height: 70%;">
      <div class="page">
        <div class="pinch-zoom">
          <img class="imgWidth" src="img/1.jpeg"/>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
